html,
body {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.col{
  width: 0;
  flex-grow: 1;
  margin: 0 4px;
}

.col:first-child {
  margin-left: 0;
}
.col:last-child {
  margin-right: 0;
}

.col > div:not(:last-child) {
  padding-bottom: 8px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}